.vscode
.idea
.DS_Store
/target
/docs
/site/blog/*.html
site/dist
/uiua-modules

*.wav
*.ogg
*.png
*.jpg
*.txt
*.db
*.ua
*.uasm
*.dll
!src/primitive/assets/*

profile.yaml
uiua.tmLanguage.json
!/tests*/*
!/examples/*
!/site/*.ua
!/site/text/*.ua
!/site/assets/**

# symlink created by `nix build`
result
.direnv