.vscode
.idea
/target
/docs
/site/blog/*.html
site/dist
/uiua-modules

*.wav
*.ogg
*.png
*.jpg
*.txt
*.db
*.ua
*.uasm
*.dll
!*/assets/*
!src/primitive/assets/*

profile.yaml
uiua.tmLanguage.json
!/tests*/*
!/examples/*
!/site/*.ua
!/site/text/*.ua

# symlink created by `nix build`
result
.direnv