.vscode
.idea
/target
site/dist
/uiua-modules

*.wav
*.png
*.jpg
*.txt
*.db
!*/assets/*
!src/primitive/assets/*

*.ua
*.uasm
*.dll
profile.yaml
uiua.tmLanguage.json
!/tests/*
!/examples/*
!/site/*.ua

# symlink created by `nix build`
result
.direnv