[package]
categories = ["compilers", "algorithms", "multimedia", "parser-implementations"]
description = "A stack-based array programming language"
documentation = "https://docs.rs/uiua"
edition = "2021"
keywords = ["uiua", "array", "stack", "language", "apl"]
license = "MIT"
name = "uiua"
readme = "readme.md"
repository = "https://github.com/uiua-lang/uiua"
version = "0.5.0"

[dependencies]
# Core dependencies
bufreaderwriter = "0.2.4"
colored = "2"
crossbeam-channel = "0.5.8"
dashmap = "5"
ecow = "0.2.0"
enum-iterator = "1.4.1"
gif = "0.12.0"
hound = "3"
image = {version = "0.24.5", features = ["bmp", "gif", "ico", "jpeg", "png"]}
instant = "0.1.12"
num_cpus = "1.16.0"
once_cell = "1"
parking_lot = "0.12.1"
paste = "1.0.14"
pathdiff = "0.2.1"
rand = {version = "0.8.5", features = ["small_rng"]}
rayon = "1.8.0"
regex = "1.10.2"
term_size = "1.0.0-beta1"
tinyvec = {version = "1", features = ["alloc"]}
unicode-segmentation = "1.10"

# Native dependencies
crossterm = {version = "0.27.0", optional = true, default-features = false}
httparse = {version = "1.8.0", optional = true}
open = {version = "5", optional = true}
rustls = {version = "0.21.9", optional = true, default-features = false, features = [
  "tls12",
]}
trash = {version = "3.1.2", optional = true}
viuer = {version = "0.7.1", optional = true}
webpki-roots = {version = "0.25.3", optional = true}

# Native audio dependencies
hodaun = {version = "0.4.1", optional = true, features = ["output", "wav"]}
lockfree = {version = "0.5.1", optional = true}

# Binary dependencies
clap = {version = "4", optional = true, features = ["derive"]}
color-backtrace = {version = "0.6.1", optional = true}
ctrlc = {version = "3", optional = true}
notify = {version = "6", optional = true}
rustyline = {version = "12.0.0", optional = true}
serde = {version = "1", optional = true, features = ["derive"]}
serde_json = {version = "1", optional = true}
tokio = {version = "1", optional = true, features = ["io-std", "rt"]}
tower-lsp = {version = "0.20.0", optional = true}

# Profiling dependencies
indexmap = {version = "2", optional = true, features = ["serde"]}
serde_yaml = {version = "0.9.27", optional = true}

[features]
audio = ["hodaun", "lockfree"]
binary = [
  "ctrlc",
  "notify",
  "clap",
  "color-backtrace",
  "lsp",
  "rustyline",
  "stand",
]
bytes = []
debug = []
default = [
  "binary",
  "terminal_image",
  "https",
  "invoke",
  "trash",
  "raw_mode",
]
https = ["httparse", "rustls", "webpki-roots"]
invoke = ["open"]
lsp = ["tower-lsp", "tokio"]
profile = ["serde", "serde_yaml", "indexmap"]
raw_mode = ["crossterm"]
stand = ["serde", "serde_json"]
terminal_image = ["viuer"]

[[bin]]
name = "uiua"

[workspace]
members = ["site"]

[profile.dev]
incremental = true

[profile.release]
lto = true
