[package]
categories = ["compilers", "algorithms", "multimedia", "parser-implementations"]
description = "A stack-based array programming language"
documentation = "https://docs.rs/uiua"
edition = "2021"
keywords = ["uiua", "array", "stack", "language", "apl"]
license = "MIT"
name = "uiua"
readme = "readme.md"
repository = "https://github.com/uiua-lang/uiua"
version = "0.0.16"

[dependencies]
ariadne = "0.3.0"
bufreaderwriter = "0.2.4"
clap = { version = "4", optional = true, features = ["derive"] }
color-backtrace = { version = "0.5.1", optional = true }
colored = "2"
crossbeam-channel = { version = "0.5.8", optional = true }
ctrlc = { version = "3", optional = true }
dashmap = "5"
ecow = "0.1.2"
enum-iterator = "1.4.1"
hodaun = { version = "0.4.1", optional = true, features = ["output", "wav"] }
hound = "3"
httparse = { version = "1.8.0", optional = true }
image = { version = "0.24.5", features = ["bmp", "gif", "ico", "jpeg", "png"] }
indexmap = { version = "1", optional = true, features = ["serde"] }
instant = "0.1.12"
lockfree = { version = "0.5.1", optional = true }
notify = { version = "5", optional = true }
once_cell = "1"
parking_lot = "0.12.1"
paste = "1.0.14"
rand = { version = "0.8.5", features = ["small_rng"] }
rustls = { version = "0.21.7", optional = true, default-features = false }
serde = { version = "1", optional = true, features = ["derive"] }
serde_yaml = { version = "0.9.25", optional = true }
term_size = "1.0.0-beta1"
tinyvec = { version = "1", features = ["alloc"] }
tokio = { version = "1", optional = true, features = ["io-std", "rt"] }
tower-lsp = { version = "0.19.0", optional = true }
webpki-roots = { version = "0.25.0", optional = true }
# Dependencies from viuer
ansi_colours = { version = "1.0", optional = true }
base64 = { version = "0.21", optional = true }
console = { version = "0.15", optional = true, default-features = false }
crossterm = { version = "0.27", optional = true }
lazy_static = { version = "1.4", optional = true }
tempfile = { version = "3.1", optional = true }
termcolor = { version = "1.1", optional = true }

[features]
audio = ["hodaun", "crossbeam-channel", "lockfree"]
binary = ["ctrlc", "notify", "clap", "color-backtrace", "lsp"]
debug = []
default = ["binary", "terminal_image", "https"]
https = ["httparse", "rustls", "webpki-roots"]
lsp = ["tower-lsp", "tokio"]
profile = ["crossbeam-channel", "serde", "serde_yaml", "indexmap"]
terminal_image = [
    "termcolor",
    "crossterm",
    "ansi_colours",
    "base64",
    "tempfile",
    "console",
    "lazy_static",
]

[[bin]]
name = "uiua"

[workspace]
members = ["site"]

[profile.release]
lto = true
