[package]
categories = ["compilers", "algorithms", "multimedia", "parser-implementations"]
description = "A stack-based array programming language"
documentation = "https://docs.rs/uiua"
edition = "2021"
keywords = ["uiua", "array", "stack", "language", "apl"]
license = "MIT"
name = "uiua"
readme = "readme.md"
repository = "https://github.com/uiua-lang/uiua"
rust-version = "1.75"
version = "0.10.0-dev.1"

[dependencies]
# Core dependencies
bitflags = {version = "2", features = ["serde"]}
bufreaderwriter = "0.2.4"
colored = "2"
crossbeam-channel = "0.5.11"
dashmap = {version = "5", features = ["serde"]}
ecow = {version = "0.2.0", features = ["serde"]}
enum-iterator = "2.0.0"
instant = "0.1.12"
num_cpus = "1.16.0"
once_cell = "1"
parking_lot = "0.12.1"
paste = "1.0.14"
pathdiff = "0.2.1"
rand = {version = "0.8.5", features = ["small_rng"]}
rayon = "1.8.1"
serde = {version = "1", features = ["derive"]}
serde_json = "1"
serde_tuple = "0.5.0"
term_size = "=1.0.0-beta.2"
thread_local = "1"
tinyvec = {version = "1", features = ["alloc", "serde"]}
toml = "0.8.10"
unicode-segmentation = "1.10"

# Native dependencies
httparse = {version = "1.8.0", optional = true}
open = {version = "5", optional = true}
rawrrr = {version = "0.1.0", optional = true}
rustls = {version = "0.23.1", optional = true, default-features = false, features = [
  "tls12",
  "ring",
]}
trash = {version = "3.3.1", optional = true}
viuer = {version = "0.7.1", optional = true}
webpki-roots = {version = "0.26.0", optional = true}

# Native audio dependencies
hodaun = {version = "0.4.1", optional = true, features = ["output", "wav"]}
lockfree = {version = "0.5.1", optional = true}

# Binary dependencies
clap = {version = "4", optional = true, features = ["derive"]}
color-backtrace = {version = "0.6.1", optional = true}
ctrlc = {version = "3", optional = true}
notify = {version = "6", optional = true}
rustyline = {version = "13.0.0", optional = true}
tokio = {version = "1", optional = true, features = ["io-std", "rt"]}
tower-lsp = {version = "0.20.0", optional = true}

# Profiling dependencies
indexmap = {version = "2", optional = true, features = ["serde"]}
serde_yaml = {version = "0.9.32", optional = true}

# Feature dependencies
clipboard = {version = "0.5.0", optional = true}
gif = {version = "0.13.1", optional = true}
hound = {version = "3", optional = true}
image = {version = "0.24.9", optional = true, default-features = false, features = ["bmp", "gif", "ico", "jpeg", "png", "qoi"]}
libffi = {version = "3", optional = true}
libloading = {version = "0.8.1", optional = true}
regex = {version = "1.10.3", optional = true}

[features]
audio = ["hodaun", "lockfree", "audio_encode"]
audio_encode = ["hound"]
batteries = [
  "gif",
  "image",
  "regex",
  "audio_encode",
]
binary = [
  "ctrlc",
  "notify",
  "clap",
  "color-backtrace",
  "rustyline",
  "native_sys",
  "ffi",
]
bytes = []
debug = []
default = [
  "bytes",
  "binary",
  "terminal_image",
  "lsp",
  "stand",
  "https",
  "invoke",
  "trash",
  "native_sys",
  "raw_mode",
  "clipboard",
  "batteries",
]
ffi = ["libffi", "libloading"]
gif = ["dep:gif", "image"]
https = ["httparse", "rustls", "webpki-roots"]
invoke = ["open"]
lsp = ["tower-lsp", "tokio", "native_sys"]
native_sys = []
profile = ["serde_yaml", "indexmap"]
raw_mode = ["rawrrr", "native_sys"]
stand = ["native_sys"]
terminal_image = ["viuer", "image"]

[[bin]]
name = "uiua"

[workspace]
members = ["site", "tests_ffi"]

[profile.dev]
incremental = true

[profile.release]
lto = 'thin'
opt-level = 's'
