html * {
    font-family: Arial;
}

html {
    font-size: 150%;
}

button {
    border-width: 0;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
}

button:active {
    transform: translateY(2px);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eef;
        background-color: #223;
    }

    textarea {
        color: #eef;
        background-color: #445;
    }

    button {
        color: #eef;
        background-color: #445;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #443;
        background-color: #fff8e0;
    }

    textarea {
        color: #443;
        background-color: #fff;
    }

    button {
        color: #443;
        background-color: #fff;
    }
}

#top {
    margin: 20px auto;
    width: max(200px, min(90%, max(50%, 800px)));
}

#editor {
    outline: 1px solid #ccd;
    border-radius: 8px;
}

#code {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}

#output {
    padding: 10px;
    white-space: pre-wrap;
    min-height: 38px;
    font-size: 20px;
}

#error {
    color: red;
    padding: 10px;
    white-space: pre-wrap;
}

#code-buttons {
    float: right;
    margin: 0px;
}

.code-button {
    font-size: 20px;
    margin: 0 0 0 4px;
}

@font-face {
    font-family: "Noto";
    src: url(NotoSansMono.ttf) format("truetype");
}

.code {
    font-family: "Noto";
}

#glyph-buttons {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.glyph-button {
    font-family: "Noto";
    font-size: 20px;
    padding: 2px;
    margin: 2px;
}