html * {
    font-family: Arial;
}

button {
    border-width: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #222;
    }

    textarea {
        color: #eee;
        background-color: #444;
    }

    button {
        color: #eee;
        background-color: #444;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #222;
        background-color: #eee;
    }

    textarea {
        color: #222;
        background-color: #fff;
    }

    button {
        color: #222;
        background-color: #fff;
    }
}

#top {
    margin: 100px auto;
    width: 50%;
}

#editor {
    outline: 1px solid #ccc;
}

#code {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

#output {
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    white-space: pre-wrap;
}

#error {
    color: red;
}

#run-button {
    float: right;
    margin: 5px;
    padding: 5px;
}

@font-face {
    font-family: "Noto";
    src: url(NotoSansMono.ttf) format("truetype");
}

.code {
    font-family: "Noto";
}