html * {
    font-family: Arial;
}

html {
    font-size: 100%;
}

button[title]:hover::after {
    content: attr(title);
    position: absolute;
    font-family: "Noto";
    font-size: 14px;
    bottom: 100%;
    left: -30px;
    color: #eee;
    background-color: #000a;
    padding: 2px;
    border-radius: 4px;
    width: 90px;
}

button {
    border-width: 0;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    position: relative;
}

button:active {
    transform: translateY(2px);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eef;
        background-color: #223;
    }

    #editor {
        background-color: #334;
    }

    textarea {
        color: #eef;
        background-color: #445;
    }

    button {
        color: #eef;
        background-color: #445;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #443;
        background-color: #fff8e0;
    }

    #editor {
        background-color: #fffee8;
    }

    textarea {
        color: #443;
        background-color: #fff;
    }

    button {
        color: #443;
        background-color: #fff;
    }
}

#top {
    margin: 20px auto;
    width: max(200px, min(90%, 800px));
}

#subtitle {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#editor {
    outline: 1px solid #ccd;
    border-radius: 8px;
}

#code {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
}

#output {
    padding: 10px;
    white-space: pre-wrap;
    min-height: 38px;
    font-size: 20px;
}

#error {
    color: red;
    padding: 10px;
    white-space: pre-wrap;
}

#code-buttons {
    float: right;
    margin: 0px;
}

.code-button {
    font-size: 20px;
    margin: 0 0 0 4px;
}

@font-face {
    font-family: "Noto";
    src: url(NotoSansMono.ttf) format("truetype");
}

.code {
    font-family: "Noto";
}

#glyph-buttons {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.glyph-button {
    font-family: "Noto";
    font-size: 20px;
    padding: 2px;
    margin: 2px;
    background-color: transparent;
}

.glyph-button:hover {
    background-color: #0002;
}

.noadic-function-button {
    color: #3cc;
}

.monadic-function-button {
    color: #3c3;
}

.dyadic-function-button {
    color: #55f;
}

.triadic-function-button {
    color: #c33;
}

.tetradic-function-button {
    color: #c3c;
}

.modifier-button {
    color: #cc3;
}