html * {
    font-family: Arial;
}

html {
    font-size: 100%;
}

button {
    border-width: 0;
    border-radius: 0.5em;
    padding: 0.2em;
    display: inline-block;
    position: relative;
}

button:active {
    transform: translateY(0.1em);
}

code {
    font-family: "Code Font";
    border-radius: 0.2em;
    padding: 0.2em;
}

th,
td {
    padding: 0.3em;
    border-radius: 0.5em;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #0001;
}

table {
    border: 0.2em solid #0005;
    border-radius: 0.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eef;
        background-color: #223;
    }

    #editor {
        background-color: #334;
        outline: 0.1em solid #fff4;
    }

    textarea {
        color: #eef;
        background-color: #445;
    }

    button {
        color: #eef;
        background-color: #445;
    }

    button:hover {
        background-color: #556;
    }

    a:link {
        color: #3cf;
    }

    a:visited {
        color: #88f;
    }

    code {
        background-color: #0004;
    }

    .important-button {
        background-color: #45a;
    }

    .important-button:hover {
        background-color: #67c;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #344;
        background-color: #d0e8ee;
    }

    #editor {
        background-color: #e0f8ff;
        outline: 0.1em solid #0004;
    }

    textarea {
        color: #344;
        background-color: #eff;
    }

    button {
        color: #344;
        background-color: #cee;
    }

    button:hover {
        background-color: #dff;
    }

    code {
        background-color: #fff8;
    }

    .important-button {
        background-color: #6de;
    }

    .important-button:hover {
        background-color: #8ef;
    }
}

#top {
    margin: 2em auto;
    width: max(10em, min(90%, 56em));
}

#header {
    display: flex;
    justify-content: space-between;
}

#nav {
    display: flex;
    gap: 1em;
}

#subtitle {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

#links {
    margin-top: -1em;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

#editor {
    border-radius: 0.5em;
}

.small-editor {
    font-size: 1.2em;
}

.medium-editor {
    font-size: 1.4em;
}

#code-area {
    position: relative;
}

.code {
    border-radius: 0.5em;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 0.3em 3.5em 0.3em 0.3em;
    min-height: 1.8em;
    font-size: 1em;
    font-family: "Code Font";
}

.output {
    white-space: pre-wrap;
    display: flex;
    justify-content: space-between;
}

#output-text {
    padding: 0.3em;
    font-family: "Code Font";
}

#code-buttons {
    margin: 0.2em;
    display: flex;
    flex-wrap: nowrap;
    height: 1.5em;
}

.code-button {
    font-size: 1em;
    margin: 0 0 0 0.2em;
}

@font-face {
    font-family: "Code Font";
    src: url(DejaVuSansMono.ttf) format("truetype");
}

#code-right-side {
    display: flex;
    position: absolute;
    top: 0.1em;
    right: 0.2em;
    opacity: 0.5;
    font-size: 1em;
    align-items: center;
}

#glyphs-toggle-button {
    margin-right: 0.3em;
    font-weight: bolder;
    font-size: 1em;
}

#glyphs-toggle-button[title]:hover::after {
    content: attr(title);
    position: absolute;
    font-family: "Code Font";
    font-size: 0.6em;
    left: calc(-8em - 50%);
    top: calc(50% - 0.6em);
    color: #eee;
    background-color: #000b;
    padding: 0.2em;
    border-radius: 0.2em;
    width: 8em;
}

#example-tracker {
    font-size: 0.8em;
}

.glyph-buttons {
    padding: 0.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.glyph-button {
    font-family: "Code Font";
    font-size: 1.05em;
    padding: 0.1em;
    margin: 0em;
    background-color: transparent;
}

.glyph-button[title]:hover::after {
    content: attr(title);
    position: absolute;
    font-family: "Code Font";
    font-size: 0.7em;
    bottom: 100%;
    color: #eee;
    background-color: #000a;
    padding: 0.1em;
    border-radius: 0.2em;
    left: -7em;
    width: 7em;
}

.glyph-button:hover {
    background-color: #0002;
}

.glyph-doc {
    position: absolute;
    top: 1em;
    left: 10%;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    max-width: 80%;
    color: #eee;
    background-color: #000a;
}

.variadic-function-button {
    color: #aaa;
}

.noadic-function-button {
    color: #c33;
}

.monadic-function-button {
    color: #30ba30;
}

.dyadic-function-button {
    color: #77f;
}

.triadic-function-button {
    color: #c73;
}

.modifier1-button {
    color: #cc3;
}

.modifier2-button {
    color: #c3c;
}

.anti-function-button {
    color: #4dd;
}

#editor-help {
    margin-top: -0.6em;
    font-size: 1em;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
}

#editor-help:empty {
    margin-top: 0;
}

#bottom-page-nav {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.sound-button {
    background-color: transparent;
}