html * {
    font-family: Arial;
}

html {
    font-size: 100%;
}

button {
    border-width: 0;
    border-radius: 0.3em;
    font-size: 3em;
    padding: 0.3em;
    display: inline-block;
    position: relative;
}

button:active {
    transform: translateY(0.1em);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eef;
        background-color: #223;
    }

    #editor {
        background-color: #334;
    }

    textarea {
        color: #eef;
        background-color: #445;
    }

    button {
        color: #eef;
        background-color: #445;
    }

    button:hover {
        background-color: #556;
    }

    a:link {
        color: #3cf;
    }

    a:visited {
        color: #88f;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #443;
        background-color: #fff8e0;
    }

    #editor {
        background-color: #fffee8;
    }

    textarea {
        color: #443;
        background-color: #fff;
    }

    button {
        color: #443;
        background-color: #fff;
    }

    button:hover {
        background-color: #eee;
    }
}

#top {
    margin: 2em auto;
    width: max(10em, min(90%, 56em));
}

#subtitle {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

#editor {
    outline: 0.1em solid #ccd;
    border-radius: 0.5em;
}

#code {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 0.5em;
    font-size: 1.4em;
    height: 6em;
}

#output {
    padding: 0.5em;
    white-space: pre-wrap;
    min-height: 1em;
    font-size: 1.4em;
}

#error {
    color: #f33;
    padding: 0.5em;
    white-space: pre-wrap;
    font-size: 1.4em;
}

#code-buttons {
    float: right;
    margin: 0;
}

.code-button {
    font-size: 1em;
    margin: 0 0 0 0.2em;
}

@font-face {
    font-family: "Code Font";
    src: url(DejaVuSansMono.ttf) format("truetype");
}

.code {
    font-family: "Code Font";
}

#glyph-buttons {
    padding: 0.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.glyph-button {
    font-family: "Code Font";
    font-size: 1.3em;
    padding: 0.1em;
    margin: 0.1em;
    background-color: transparent;
}

.glyph-button[title]:hover::after {
    content: attr(title);
    position: absolute;
    font-family: "Code Font";
    font-size: 0.7em;
    bottom: 100%;
    color: #eee;
    background-color: #000a;
    padding: 0.1em;
    border-radius: 0.2em;
    left: -7em;
    width: 7em;
}

.glyph-button:hover {
    background-color: #0002;
}

.noadic-function-button {
    color: #3cc;
}

.monadic-function-button {
    color: #3c3;
}

.dyadic-function-button {
    color: #77f;
}

.triadic-function-button {
    color: #c33;
}

.tetradic-function-button {
    color: #c73;
}

.modifier1-button {
    color: #cc3;
}

.modifier2-button {
    color: #c3c;
}

#editor-help {
    margin-top: -2em;
    font-size: 1em;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
}